@import url('reset.css');

/* General Demo Style */
body{
	background:#e4ebe9 url(fancy_deboss.png) repeat top left;
	color:#000;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-size:12px;
	min-height:800px;
}
a{
	color:#000;
	text-decoration:none;
}
.clr{
	clear:both;
}
h1, h2, h5{
	margin:20px 20px 10px 20px;
	font-size:56px;
	color:#7D09E9;
	font-family: 'Volkhov', sans-serif;
	text-align:center;
	font-weight:700;
	text-shadow:1px 1px 3px #e0d1bc;
}
h1 span, h5{
	font-size:18px;
	display:block;
	font-style:italic;
	color:#997f5a;
	font-weight:400;
	text-shadow:0px 1px 1px #fff;
}
.line{
	background-color:#e0d1bc;
	border-bottom:1px solid #f9f5ef;
	height:1px;
	width:440px;
	margin:0px auto 20px auto;
}
/* Header Style */
.header{
	height:25px;
	line-height:24px;
	font-size:13px;
	background:#000;
	opacity:0.9;
	text-transform:uppercase;
	z-index:4;
	-moz-box-shadow:1px 0px 2px #000;
	-webkit-box-shadow:1px 0px 2px #000;
	box-shadow:1px 0px 2px #000;
}
.header a{
	padding:5px 10px;
	letter-spacing:1px;
	color:#ddd;
	text-align:right;
}
.header a:hover{
	color:#fff;
}
.header a span{
	font-weight:bold;
}
.header span.right_ab{
	position:absolute;
	right:4px;
}
.more{
	position:relative;
	clear:both;
	font-family: 'Volkhov', sans-serif;
	font-weight:400;
	font-style:italic;
}
.more ul{
	display:block;
	height:32px;
	text-align:center;
}
.more ul li{
	display:inline;
	padding:2px;
}
.more ul li.selected a,
.more ul li.selected a:hover{
	background:#ae997a;
	color:#fff;
	text-shadow:none;
}
.more ul li a{
	text-shadow:1px 1px 1px #fff;
	color:#555;
	background:#fbf9f5;
	padding:3px 6px;
	-moz-box-shadow:1px 1px 2px #aaa;
	-webkit-box-shadow:1px 1px 2px #aaa;
	box-shadow:1px 1px 2px #aaa;
}
.more ul li a:hover{
	background:#8c795d;
	color:#fff;
	text-shadow:none;
}
